{{#if loggedIn}}
<h1>Dashboard</h1>

{{#if posts}}
{{#each posts}}
{{> post}}
{{/each}}
{{else}}
<p>No posts found.</p>
{{/if}}

<a href="/dashboard/new">Add New Post</a>
{{else}}
<p>Please log in to view the dashboard.</p>
{{/if}}
